/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1DB954, #121212);
    color: #ffffff;
    overflow-x: hidden;
}

h1, h2 {
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    text-align: center;
}

p {
    text-align: center;
    color: #d4d4d4;
    font-weight: 300;
    margin: 10px 0;
}
